@import "~bootstrap/scss/bootstrap";
@import "./partials/mixins.scss";
@import "./partials/variables.scss";

main {
    background-color: lightcoral;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}
